# --- Caché y archivos compilados de Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Bases de datos locales (SQLite) ---
*.db
*.sqlite
*.sqlite3

# --- Entornos virtuales ---
venv/
env/
.venv/
ENV/

# --- Configuraciones locales del editor (VS Code) ---
.vscode/
*.code-workspace

# --- Variables de entorno y secretos ---
.env
.env.*

# --- Archivos temporales del sistema operativo ---
Thumbs.db
.DS_Store